.app{
    width: 85%;
    margin: 0 auto;
}

/* HEADER */
.header{
    display: flex;
    justify-content: space-between;
}

.header-left{
    display: flex;
    align-items: center;
}

.header-left__menu ul{
    list-style: none;
}

.header-left__menu ul {
    display: flex;
    align-items: center;
}
.header-left__menu ul li a{
    text-decoration: none;
}


.header-right{
    display: flex;
    align-items: center;
}
